@import "normalize.css";
:root {
    --color-background1:#FEFAF6;
    --soft-black:#4a4a4a;
}
body{
    display: grid;
    background-color: var(--color-background1);
    justify-content: center;
 
}

body>*{
    margin-bottom: 125px;
}
*,*::after,*::before {
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
}

/* Typography */

html{
    height: 100%;
    font-size: 62.5%;
}
.GradientText{
    background-color: red;
  
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #F76680, #57007B);
 
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.rakkas-regular {
    font-family: "Rakkas", serif;
    font-weight: 900;
    font-style: normal;
    text-shadow: 1px 1px 1px #A70606; 
    font-size: 2rem;
    margin: 5px;
  }

@media screen and (min-width:768px){
    .rakkas-regular{
        font-size: 4.5rem;
        text-shadow: 1.8px 1.8px 1px #A70606;
    }
    
}

.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
  }


img{
    width: 100%;
}

/*  Cards*/
.Card{
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: right;
    
}

.Card_text{
    color: #5b687b;
    margin-top: 0;
    font-size: 1.8rem;
    margin-top: 5px;
    margin-bottom: 0;
}

.Card_center{
    text-align: center;
    margin-top: auto; 
    margin-bottom: auto;
}

.Card_title {
    font-size: 4rem;
}
@media screen and (min-width:568px){
    .Card{
        font-size: 2rem ;
    }
    
    .Card_title {
        font-size: 5rem;
        }
    .Card_text{
        font-size: 2.8rem;
    }
        
    }



.img_card{
    margin-top: 1.5rem;
}


.line{
    width: 150px;
    display: block;
    margin: 5px;
}
.line_right{
    margin-left: auto;
}
.line_middle{
    width: 105px;
    margin-left: auto;
    margin-right: auto;
}
@media screen  and (min-width:786px){
    .line_middle{
        width: 180px;}
}


/*Structure*/
.layers{
    display: grid;

}

.layers>*{
    grid-column: 1;
    grid-row: 1;
}

.img_framed{
padding: 10px;

}
@media screen and (min-width:920px){
    .img_title{
        margin-right: 10%;
    }
    
}


/*NameCard*/
.Quotes>.Card, .Committee>.Card{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.NameCard{
    width: 353px;
    height: 309px;
    display: grid;
    grid-template-columns: auto auto ;
    column-gap: 2rem;
    background-color: #C4C4C44F;
    text-align: right;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-bottom: 15px;
    align-self: center;

}

.NameCard_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.NameCard_text{
    font-size: 0.9rem;
    text-shadow: 0px 2px 2px #00000040;
    color: var(--soft-black);
    margin-top: 0;
    
}

.NameCard_name{
    grid-column: 2;
    font-weight: 600;
    font-size: 0.75rem;
    align-self: end;
    margin-top: 0;
}

.NameCard_text,.NameCard_name{
margin-right: 10px;
margin-bottom: 0;
}
.NameCard_title{
    margin-bottom: 15px;
}
@media screen  and (min-width:800px){
    .NameCard{
        width: 480px;
        height: 435px;
        align-self: baseline;
    }
    .NameCard_text{
        font-size: 1.35rem;}

    .NameCard_name{
        font-size: 1.2rem;}

    .NameCard_img{
        width: 80px;
        height: 80px;}

    .NameCard:nth-child(even){
        margin-left: auto;
        }
    
}

/*Committee*/
.Committee>h2{ margin-top: 13px;
}
.Committee_box{
    display: block;
    position: relative;
    height: 199px;
    background-color: #FFF;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin: 20px;
    transition: transform 0.1s;
}

.Committee_box:hover{
    transform: scale(1.1) ;
    
}

.Committee_box>*{
    position: absolute;
}

.Committee_name{
    top: -9px;
    right: 15px;
    font-size: 1.8rem;
    font-weight: 450;
}
.Committee_text{
    top: 34px;
    right: 15px;
    font-size: 1rem;
    font-weight: 450;
    width: 77%;
    max-width: 360px;
  color: var(--soft-black);
  line-height: 1.8;
  text-align: right;
}
.Committee_leader{
    bottom: -10px;
    left: 20px;
    font-size: 1rem;
  font-weight: 600;
  padding-bottom: 3px;
}
.Committee_square{
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 7px;
    background: rgb(2,0,36);
    background: linear-gradient(22deg, rgb(43, 40, 95) 0%, rgb(0, 0, 255) 60%, rgb(0, 211, 254) 100%);
    top: 23px;
  left: 13px;
}

@media screen and (min-width:650px){
    .Committee_box{
        width: 444px;
        height: 178px;
    }
    .Committee_name{
        top: -26px;
        right: 15px;
        font-size: 2.5rem;}

    .Committee_text{
        top: 34px;
        right: 15px;
        font-size: 1.1rem;
        width: 356px;}

    .Committee_leader{
        bottom: -10px;
        left: 20px;
        font-size: 1.2rem;
        padding-bottom: 0;
    }

    .Committee_box:nth-child(even){
        margin-left: auto;
    }


}
.black{
    background-color: var(--soft-black);
    background: linear-gradient(225deg, #787385 0%, #27272E 100%);

}

.blue{
    background-color: cyan;
    background: linear-gradient(225deg, #68DBF2 0.01%, #4385d1 100%);

}

.pink{
    background-color: palevioletred;
    background: linear-gradient(224.47deg, #FF92AE 8.18%, #ff067e 95.84%);
}
.yellow{
    background-color: yellow;
    background: linear-gradient(225deg, #FFEF5E 0%, #F7936F 100%);
}

.green{
    background-color: green;
    background: linear-gradient(225deg, #a6faaa 0%, #00b96c 100%);

}
.purple{
    background-color: purple;
    background: linear-gradient(225deg, #F76680 0%, #57007B 100%);

}
/*sections*/
.Messages>*{
margin-bottom: 100px;
}
@media screen and (min-width: 568px) {
.MidSize{
    max-width: 1000px;
}

}

.Center{
    margin-right: auto;
    margin-left: auto;
}


/*developer*/
.developer{
    margin-bottom: 0;
    font-weight: 700;
    color: var(--soft-black);
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.table{
    width: 100%;
    justify-content: center;
    margin-top: 5rem;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: white;
    font-size: 2rem;
}
.nametable{
    width: 400px;
    
}
tbody>*{
    text-align: center;
    color: var(--color-text-soft);
    border-radius: 5px;
}
td{
    padding-bottom: 15px;

}