<dev class="NameCard">
  <img class="NameCard_img" src="media\OIP.jfif" alt="" />
  <p class="NameCard_text rubik">
    أعزائي الطلبة <br /> من دواعي الفخر والسرور أن أرحب بكم في نادي التنمية
    المستدامة. إنني ممتنة لهذه الفرصة للعمل معكم نحو تحقيق الأهداف الرائعة التي
    يمكننا إنجازها سويًا. إن التنمية المستدامة هي رحلة طويلة تتطلب التفاني
    والتعاون، وكلي ثقة من أننا، كفريق، سنبني مستقبلًا مستدامًا ومزدهرًا. لنكن
    مصدر إلهام لبعضنا البعض وللمجتمع من حولنا، ولنكن وعاءً للأفكار الابتكارية
    والمشاريع المستدامة. أتطلع إلى العمل المشترك وتحفيزكم على تقديم أفضل ما
    لديكم في سبيل التنمية المستدامة. فلنبدأ هذه الرحلة معًا بروح الفريق والإصرار
    على التغيير الإيجابي. شكرًا لثقتكم، ولنجعل هذا النادي فضاءً للإلهام
    والإبداع.
  </p>
  <p class="NameCard_name GradientText rubik">
    ,مع خالص التحية <br />مشرفة نادي التنمية المستدامة: د. أسماء بنت علي العنزي
  </p>
</dev>
<dev class="NameCard">
  <img class="NameCard_img" src="media\OIP.jfif" alt="" />
  <p class="NameCard_text rubik">
    أعزائي الطلبة <br /> من دواعي الفخر والسرور أن أرحب بكم في نادي التنمية
    المستدامة. إنني ممتنة لهذه الفرصة للعمل معكم نحو تحقيق الأهداف الرائعة التي
    يمكننا إنجازها سويًا. إن التنمية المستدامة هي رحلة طويلة تتطلب التفاني
    والتعاون، وكلي ثقة من أننا، كفريق، سنبني مستقبلًا مستدامًا ومزدهرًا. لنكن
    مصدر إلهام لبعضنا البعض وللمجتمع من حولنا، ولنكن وعاءً للأفكار الابتكارية
    والمشاريع المستدامة. أتطلع إلى العمل المشترك وتحفيزكم على تقديم أفضل ما
    لديكم في سبيل التنمية المستدامة. فلنبدأ هذه الرحلة معًا بروح الفريق والإصرار
    على التغيير الإيجابي. شكرًا لثقتكم، ولنجعل هذا النادي فضاءً للإلهام
    والإبداع.
  </p>
  <p class="NameCard_name rubik">
    ,مع خالص التحية <br />مشرفة نادي التنمية المستدامة: د. أسماء بنت علي العنزي
  </p>
</dev>
