<dev class="Card">
  <h2 class="Card_title rakkas-regular">الرسالة</h2>
  <p class="Card_text rubik">
    <img
      class="line line_right"
      src="media\gradiantline.png"
      alt=""
      srcset=""
    />
    نحن نعمل كنادي للتوعية والعمل البيئي لتحقيق أسلوب حياة مستدام
    وتعزيزالمسؤولية الاجتماعية بين الطلاب في جامعة المجمعة. نهدف إلى أن نكون
    روادا في تنظيم الفعاليات والمشاريع التي تسهم في حماية البيئة وتعزيز الوعي
    بقضايا الاستدامة.
    <img class="line line_left" src="media\gradiantline.png" alt="" srcset="" />
  </p>
</dev>
