<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <section class="Committee">
      <img
        class="line line_middle"
        src="media\gradiantline.png"
        alt=""
        srcset=""
      />
      <h2 class="Card_title Card_center rakkas-regular">اللجنات</h2>
      <a class="Committee_box rubik" href="#">
        <h3 class="Committee_name">لجنة التقنية</h3>
        <p class="Committee_text">
          "لجنة التقنية في نادي التنمية المستدامة تتفرد بدور فعّال في تقديم حلول
          تقنية مبتكرة، سعياً للاستفادة القصوى من الإمكانيات الرقمية و وسائل
          التواصل الاجتماعي، بهدف تعزيز رسالة الاستدامة وتوليد تأثير مستدام يترك
          بصمة إيجابية داخل المجتمع."
        </p>
        <p class="Committee_leader GradientText">رئيسة اللجنة : مزن الزنيدي</p>
        <dev class="Committee_square blue"></dev>
      </a>
      <a class="Committee_box rubik" href="#">
        <h3 class="Committee_name">لجنة التقنية</h3>
        <p class="Committee_text">
          "لجنة التقنية في نادي التنمية المستدامة تتفرد بدور فعّال في تقديم حلول
          تقنية مبتكرة، سعياً للاستفادة القصوى من الإمكانيات الرقمية و وسائل
          التواصل الاجتماعي، بهدف تعزيز رسالة الاستدامة وتوليد تأثير مستدام يترك
          بصمة إيجابية داخل المجتمع."
        </p>
        <p class="Committee_leader GradientText">رئيسة اللجنة : مزن الزنيدي</p>
        <dev class="Committee_square blue"></dev>
      </a>
      <a class="Committee_box rubik" href="#">
        <h3 class="Committee_name">لجنة التقنية</h3>
        <p class="Committee_text">
          "لجنة التقنية في نادي التنمية المستدامة تتفرد بدور فعّال في تقديم حلول
          تقنية مبتكرة، سعياً للاستفادة القصوى من الإمكانيات الرقمية و وسائل
          التواصل الاجتماعي، بهدف تعزيز رسالة الاستدامة وتوليد تأثير مستدام يترك
          بصمة إيجابية داخل المجتمع."
        </p>
        <p class="Committee_leader GradientText">رئيسة اللجنة : مزن الزنيدي</p>
        <dev class="Committee_square blue"></dev>
      </a>
      <a class="Committee_box rubik" href="#">
        <h3 class="Committee_name">لجنة التقنية</h3>
        <p class="Committee_text">
          "لجنة التقنية في نادي التنمية المستدامة تتفرد بدور فعّال في تقديم حلول
          تقنية مبتكرة، سعياً للاستفادة القصوى من الإمكانيات الرقمية و وسائل
          التواصل الاجتماعي، بهدف تعزيز رسالة الاستدامة وتوليد تأثير مستدام يترك
          بصمة إيجابية داخل المجتمع."
        </p>
        <p class="Committee_leader GradientText">رئيسة اللجنة : مزن الزنيدي</p>
        <dev class="Committee_square blue"></dev>
      </a>
      <a class="Committee rubik" href="#">
        <h3 class="Committee_name">لجنة التقنية</h3>
        <p class="Committee_text">
          "لجنة التقنية في نادي التنمية المستدامة تتفرد بدور فعّال في تقديم حلول
          تقنية مبتكرة، سعياً للاستفادة القصوى من الإمكانيات الرقمية و وسائل
          التواصل الاجتماعي، بهدف تعزيز رسالة الاستدامة وتوليد تأثير مستدام يترك
          بصمة إيجابية داخل المجتمع."
        </p>
        <p class="Committee_leader GradientText">رئيسة اللجنة : مزن الزنيدي</p>
        <dev class="Committee_square blue"></dev>
      </a>
      <a class="Committee rubik" href="#">
        <h3 class="Committee_name">لجنة التقنية</h3>
        <p class="Committee_text">
          "لجنة التقنية في نادي التنمية المستدامة تتفرد بدور فعّال في تقديم حلول
          تقنية مبتكرة، سعياً للاستفادة القصوى من الإمكانيات الرقمية و وسائل
          التواصل الاجتماعي، بهدف تعزيز رسالة الاستدامة وتوليد تأثير مستدام يترك
          بصمة إيجابية داخل المجتمع."
        </p>
        <p class="Committee_leader GradientText">رئيسة اللجنة : مزن الزنيدي</p>
        <dev class="Committee_square blue"></dev>
      </a>
      <a class="Committee rubik" href="#">
        <h3 class="Committee_name">لجنة التقنية</h3>
        <p class="Committee_text">
          "لجنة التقنية في نادي التنمية المستدامة تتفرد بدور فعّال في تقديم حلول
          تقنية مبتكرة، سعياً للاستفادة القصوى من الإمكانيات الرقمية و وسائل
          التواصل الاجتماعي، بهدف تعزيز رسالة الاستدامة وتوليد تأثير مستدام يترك
          بصمة إيجابية داخل المجتمع."
        </p>
        <p class="Committee_leader GradientText">رئيسة اللجنة : مزن الزنيدي</p>
        <dev class="Committee_square blue"></dev>
      </a>
      <a class="Committee rubik" href="#">
        <h3 class="Committee_name">لجنة التقنية</h3>
        <p class="Committee_text">
          "لجنة التقنية في نادي التنمية المستدامة تتفرد بدور فعّال في تقديم حلول
          تقنية مبتكرة، سعياً للاستفادة القصوى من الإمكانيات الرقمية و وسائل
          التواصل الاجتماعي، بهدف تعزيز رسالة الاستدامة وتوليد تأثير مستدام يترك
          بصمة إيجابية داخل المجتمع."
        </p>
        <p class="Committee_leader GradientText">رئيسة اللجنة : مزن الزنيدي</p>
        <dev class="Committee_square blue"></dev>
      </a>
      <a class="Committee rubik" href="#">
        <h3 class="Committee_name">لجنة التقنية</h3>
        <p class="Committee_text">
          "لجنة التقنية في نادي التنمية المستدامة تتفرد بدور فعّال في تقديم حلول
          تقنية مبتكرة، سعياً للاستفادة القصوى من الإمكانيات الرقمية و وسائل
          التواصل الاجتماعي، بهدف تعزيز رسالة الاستدامة وتوليد تأثير مستدام يترك
          بصمة إيجابية داخل المجتمع."
        </p>
        <p class="Committee_leader GradientText">رئيسة اللجنة : مزن الزنيدي</p>
        <dev class="Committee_square blue"></dev>
      </a>
      <a class="Committee rubik" href="#">
        <h3 class="Committee_name">لجنة التقنية</h3>
        <p class="Committee_text">
          "لجنة التقنية في نادي التنمية المستدامة تتفرد بدور فعّال في تقديم حلول
          تقنية مبتكرة، سعياً للاستفادة القصوى من الإمكانيات الرقمية و وسائل
          التواصل الاجتماعي، بهدف تعزيز رسالة الاستدامة وتوليد تأثير مستدام يترك
          بصمة إيجابية داخل المجتمع."
        </p>
        <p class="Committee_leader GradientText">رئيسة اللجنة : مزن الزنيدي</p>
        <dev class="Committee_square blue"></dev>
      </a>
    </section>
  </body>
</html>
